@using FirstAsp.Controllers
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail  </h1>
<h3>Product id viewdata: @ViewData["id"]</h3>
<h3>Product id viewbag: @ViewBag.Id</h3>
<h3>Product id tempdata: @TempData["id"]</h3>

<h3>Product name: @ViewBag.Name</h3>




